doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/login.css')
  link(rel='stylesheet' href='/font/css/all.css')
.arealogin
  .menu
    ul
      li.special_item
        img(src='/images/menu.png' alt='' srcset='')
      .menu-right
        li
          a(href='/') Home
        li
          a(href='/work') Job IT
        li
          a(href='') Contact Us
        li
          a(href='/users/create')
            | Sign up 
            i.fas.fa-registered
        li
          a(href='/login')
            | Login 
            i.fas.fa-sign-in-alt
  .mobile
    // check kiểm tra overlay
    input#nav-mobile-input.navss(type='checkbox' name='')
    // Vùng đen
    label.nav__overlay(for='nav-mobile-input')
    // icon menu
    label.nav__bars-btn(for='nav-mobile-input')
      i.fas.fa-bars
    .nav_mobile
      label.nav_bars-close(for='nav-mobile-input')
        i.fas.fa-times
      ul.nav_mobile-list
        li
          a.nav_mobile_link(href='#')     Home
        li
          a.nav_mobile_link(href='#')
            i.fas.fa-award
            |        Job IT
        li
          a.nav_mobile_link(href='#')
            i.fas.fa-file-signature
            |        Contact Us
        li
          a.nav_mobile_link(href='#')
            i.fas.fa-user-plus
            |        Sign Up
  form(action='/login' method="POST")
    .imgcontainer
      .avatar
        i.far.fa-user-circle
    .container
      label(for='uname')
        b(style='color:#fff') Username
      if username 
        input(type='text' placeholder='Enter Username' name='userName' required='' value=username?username:"" )
      else 
        input(type='text' placeholder='Enter Username' name='userName' required='' value=values?values.userName:"" )
      label(for='psw')
        b(style='color:#fff') Password
      input(type='password' placeholder='Enter Password' name='password' required='' value=values?values.password:"")
      if error 
        .error(style="color:red;")=error
      button(type='submit') Login
      label
        input(type='checkbox' checked='checked' name='remember')
        b(style='color:#fff') Remember
      label(for='')
        a#icon-fb(href='#')
          i.fab.fa-facebook-f
        a#icon-gg(href='#')
          i.fab.fa-google
        a#signup-btn(href='#') Sign up
    .container(style='background-color:#5553538c')
      button.cancelbtn(type='button') Cancel
      span.psw(style='color:#149E33;')
        | Forgot 
        a(href='#' style='text-decoration: none; color:#fff') password?
