*{margin: 0;padding: 0;}
html,body{
    height: 100%;
    width: 100%;
}
/* menu */
.menu ul {
    background:rgba(46, 41, 41, 1);
    list-style-type: none;
    text-align: center;
}
.menu li {
    padding: 0% 0%;
    margin: 0% 0%;
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 65px;
    line-height: 40px;
    margin-left: -5px;
}
#GetJob a{
    background-color: red;
}
#GetJob a:hover{
    background-color: #fff;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}
.menu a:hover {
    background: #F1F1F1;
    color: #333;
}
.special_item{
    height: 50%;
    width: 50%;
    float: left;
    padding-left: 10%;
}
/* company */
.content{
    height: 150%;
    width: 95%;
    margin: auto;
}
.left{
    margin-left: 3%;
    float: left;
    height: 100%;
    width: 70%;
    border: 1px solid black;
}
.right{
    border: 1px solid black;
    margin-left: 2%;
    float: right;
    height: 100%;
    width: 25%;
}
.right ul{
    list-style-type: none;
}
.right li{
    margin: 5% 2%;
}
.right label{
    margin: 2% 5%;
}
.detail{
    height: 85%;
    width: 100%;
}
.head-title{
    width: 100%;
}
#label1{
    width: 25%;
}
.detail .title{
    margin: auto 5%;
    height: 100%;
}
.job{
    height: 25%;
    margin: 5% auto;
}
.name{
    font-weight: bold;
    font-size: large;
}
.company-name{
    height: 15%;
    width: 100%;
    margin: 2% auto;
}
.left-img{
    margin: 5% 3%;
    margin-left: 3%;
    float: left;
    height: 100%;
    width: 20%;
}
.right-name{
    margin: 5% 2%;
    float: right;
    height: 100%;
    width: 60%;
}
.head-title{
    height: 10%;
    margin: 5% auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.head-title button{
    border: none!important;
}
.left-title{
    margin: -1% 2%;
    float: left;
    height: 100%;
    width: 25%;
    font-style: italic;
}
.title a{
    color: red;
}
.title h3{
    font-style: italic;
    color: red;
}
.right-title{
    font-style: italic;
    margin: -1%;
    padding: 0% 0%;
    float: right;
    height: 100%;
    width: 25%;
}
.nut{
    text-align: center;
    padding: -1% 0%;
    height: 5%;
    width: 10%;
    margin: 3% 5%;
    float: right;
}
/* foot */
footer{
    margin: 10% 0%;
    height: 20%;
    width: 100%;
    position: relative;
    display: block;
    background-color:rgba(108, 104, 104, 0.82);
}
.left-foot{
    padding-top: 2%;
    padding-left: 2%;
}
.right-foot{
    position: absolute;
    padding: 2% 0%;
    top: 20%;
    right: 5%;
}
.right-foot a{
    color: rgba(255, 255, 255, 1);
}