doctype html
head
  title Title
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/fa/css/all.css')
  link(rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/css/Detail.css')
// Menu
.menu
  ul
    li.special_item
      img(src='/images/logo.PNG' alt='' srcset='')
    li
      a(href='') Home
    li
      a(href='') Job IT
    li
      a(href='') Contact Us
    li#GetJob
      a(href='')
        | Get Job 
        i.fas.fa-arrow-right
    li
      a(href='')
        | Login 
        i.fas.fa-sign-in-alt
.content
  // Company
  .left
    // Company name
    .company-name
      .left-img
        a(href='')
          img(src='/images/ACB.png' alt='' srcset='')
      .right-name
        h2 ACB 
        p Qu&#x1EAD;n Hai B&agrave; Tr&#x1B0;ng, H&agrave; N&#x1ED9;i
    // detail
    .detail
      .head-title
        .btn-group(role='group' aria-label='Basic example')
          button.btn.btn-outline-dark(type='button') About Company
          button.btn.btn-outline-dark(type='button') Jobs
      .title
        // positon
        h3 02 Web Application Developer
        a(href='') Login to see more
        // description
        .job
          ul
            span.name Job description:
            li Learn the business, documents and design of the participating project;
            li Participate in building and developing software in the field of management
            li
              | Warehouse, production management, insurance, finance and accounting, human resources,... on the .NET platform;
            li Participate in fixing bugs and supporting customers ;
            li Ensure progress, quality of work and regular reports to management;
            li Other tasks as assigned by management.
        // requirement
        .job
          ul
            span.name Job requirement:
            li Accept Fresher;
            li
              | Preference will be given to candidates with at least 02 years of experience in programming .NET, ASP.NET;
            li Understanding SQL Server, Web API;
            li Using Visual Studio 2017 &ndash; 2019;
            li Proficient in MVC, HTML, CSS, Javascript;
            li Knowing how to make Mobile App is an advantage.
  .right
    ul
      li
        span.name Website
        br
        label(for='') http://hdsoft.vn
      li
        span.name Address
        br
        label(for='') Hai B&agrave; Tr&#x1B0;ng, H&agrave; N&#x1ED9;i
      li
        span.name Company size
        br
        label(for='') 10-24
      li
        span.name Address
        br
        label(for='') Hai B&agrave; Tr&#x1B0;ng, H&agrave; N&#x1ED9;i
      li
        span.name Company size
        br
        label(for='') 10-24
      li
        span.name Address
        br
        label(for='') Hai B&agrave; Tr&#x1B0;ng, H&agrave; N&#x1ED9;i
      li
        span.name Company size
        br
        label(for='') 10-24
.btn-danger.btn.nut Recruiting
// footer
footer
  .left-foot
    h5(style='color: white;')
      span S
      | ecruite.S
    p(style='color: rgba(172, 172, 172, 1);')
      | Coppyright @ ZAIA Enterprise
      br
      |  Li&ecirc;n h&#x1EC7;: 0123456654 
      br
      |  - contact@recuite.vn
  .right-foot
    a(href='') &#x1EE8;ng Vi&ecirc;n
    br
    a(href='') C&ocirc;ng Vi&#x1EC7;c IT
script(src='./Detail.js')
script(src='vendor/jquery/jquery.min.js')
